<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>The current time</title>
</head>
<body>
    <h1>My helpful timestamp site</h1>
    <p>It is now {{ current_date }}.</p>
	
	
	
<h2>Create Account</h2>	
<form action="#" method="post">
  Name:<br>
  <input type="text" name="username">
  <br>
  Password:<br>
  <input type="text" name="password">
  <br>
  <input type="submit" value="Submit">
  
</form>



    <hr>
    <p>Thanks for visiting my site.</p>
</body>
</html>